@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&disply=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

